In [45]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_excel("./dataset.xlsx")

In [47]:
np.random.seed(21)

In [48]:
df.columns = (
    df.columns
    .str.replace(r"[.: ]", "_", regex=True)
    .str.replace(r"_+", "_", regex=True)
    .str.strip("_")
)

In [49]:
df.drop_duplicates()

,Unnamed_0_1,Unnamed_0,PateID,Gender,DOB,CXL_YES,CXL_date,DatasetID,Atopy,Eczema,...,Exam_name,kMaxDiff_N,Crit_kMax_N,PachyMinDiff,PachyMinPercentChange_Exams,PachyMinPercentChange_Start,Crit_PachyMin_N,Crit_Both_N,obs_ID,referred_CXL
0,0,1,769,0.0,1981-12-27,1,2012-01-01,CXL_1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
1,1,2,797,0.0,1975-01-22,1,2019-01-01,CXL_1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,2,3,818,1.0,1999-09-02,1,2018-01-01,CXL_1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
3,3,4,839,1.0,1990-08-10,1,2021-01-05,CXL_2,1,1,...,Penultimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0
4,4,5,840,1.0,1976-09-23,1,2020-09-24,CXL_2,0,0,...,Penultimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,3375,3376,630,1.0,1988-08-20,0,NaT,No_CXL,0,0,...,Penultimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376,NaN
3376,3376,3377,630,1.0,1988-08-20,0,NaT,No_CXL,0,0,...,Final,1.1,1.0,10.0,2.169197,2.169197,0.0,0.0,3377,0.0
3377,3377,3378,631,1.0,1986-08-11,0,NaT,No_CXL,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3378,NaN
3378,3378,3379,631,1.0,1986-08-11,0,NaT,No_CXL,0,0,...,Penultimate,1.0,1.0,5.0,1.061571,1.061571,0.0,0.0,3379,NaN
3379,3379,3380,631,1.0,1986-08-11,0,NaT,No_CXL,0,0,...,Final,0.7,0.0,-20.0,-4.201681,-3.184713,0.0,0.0,3380,0.0

## Spracovanie atributov
- Vsimol som si ked som sa pozeral na dataset, ze nasledovne atributy obsahovali z vacsej casti rovnake hodnoty (90%+)

In [50]:
print(df["D0mm_Prog"].value_counts(), "\n")
print(df["Ecc_Zone"].value_counts(), "\n")

D0mm_Prog
0     3373
15       2
18       1
28       1
13       1
17       1
14       1
Name: count, dtype: int64

Ecc_Zone
Zone 8mm(Dia)    3380
Name: count, dtype: int64

#### Vypisanie atributov obsahujuce NaN hodnoty + ich pocet

In [51]:
df.isna().sum()[df.isna().sum() > 0]

Gender                           38
CXL_date                       1895
Rubbing                        2906
PachyMin                          1
Pupil_Pos_X                    2224
Pupil_Pos_Y                    2224
D8mm_Prog                         7
D10mm_Prog                        9
Before_After_CXL               1857
Exam_name                      1310
kMaxDiff_N                     1035
Crit_kMax_N                    1035
PachyMinDiff                   1036
PachyMinPercentChange_Exams    1036
PachyMinPercentChange_Start    1036
Crit_PachyMin_N                1036
Crit_Both_N                    1036
referred_CXL                   2547
dtype: int64

In [ ]:
attrib_want_remove: list[str] = ["Unnamed_0_1", "Unnamed_0", "Exam_name",
                                 "CXL_date", "CXL_YES", "DatasetID",
                                 "Before_After_CXL", "D0mm_Prog", "Ecc_Zone", "obs_ID",
                                 "LC_id", "Days_calc", "Days_Since_FinalExam",
                                 "Weeks"
                                 ]


df = df.drop(attrib_want_remove,
             axis=1
             )

### Preco odstranujem dane stlpce:
- `Unnamed_0_1`: nemame o nom ziadne informacie v povodnej dokumentacii (nevieme co data znamenaju)
- `Unnamed_0`: nemame o nom ziadne informacie v povodnej dokumentacii (nevieme co data znamenaju)
- `Exam_name`: nemame o nom ziadne informacie v povodnej dokumentacii (nevieme co data znamenaju)
- `CXL_date`: nemyslim si, ze tento datum je potrebny v mojej situacii, lebo mi nedava (aspon v ton nevidim) dolezitu informaciu
- `CXL_YES`: nemyslim si, ze mat informaciu ci pacient mal alebo nikdy nemal spraveny CLX
- `DatasetID`: neviem si predstavit, ze ako by mi informacie ohladom data tychto dat pomohla urcit vystup
- `Before_After_CXL`: neviem ako by mi informacia ohladom toho, ci bolo meranie vykonane pred alebo po CXL pomohla predikovat hodnotu
- `D0mm_Prog`: Stlpec bol odstraneny lebo nad 99% v nom boli rovnake hodnoty
- `Ecc_Zone`: Stlpec bol odstateny lebo obsahoval len tu istu hodnotu
- `obs_ID`: nemyslim si, ze by mi pomohlo observation ID
- `LC_id`: nemyslim si, ze by mi pomholo ID for observation
- `Days_calc`: 
- `Days_Since_FinalExam`:
- `Weeks`:

In [55]:
# V zadani som mal informaciu, ze ak je hodnota NaN, tak by mala byt 0
df["Rubbing"] = df["Rubbing"].fillna(0)

#### Najdenie stlpcov, ktore maju viac ako 20% hodnot NaN a ich odstranenie

In [56]:
nan_percent = df.isna().mean() * 100
columns_over_20: list[str] = nan_percent[nan_percent > 20]  # type: ignore
columns_over_20 = columns_over_20.index.tolist()            # type: ignore
columns_over_20.remove("referred_CXL")

print(columns_over_20)

df = df.drop(columns_over_20,
             axis=1
             )

['Pupil_Pos_X', 'Pupil_Pos_Y', 'kMaxDiff_N', 'Crit_kMax_N', 'PachyMinDiff', 'PachyMinPercentChange_Exams', 'PachyMinPercentChange_Start', 'Crit_PachyMin_N', 'Crit_Both_N']

- `Pupil_Pos_X`
- `Pupil_Pos_Y`
- `kMaxDiff_N`
- `Crit_kMax_N`
- `PachyMinDiff`
- `PachyMinPercentChange_Exams`
- `PachyMinPercentChange_Start`
- `Crit_PachyMin_N`
- `Crit_Both_N`

### Analyza stlpcov s NaN hodnotamy
- As these attributes contain fewer NaN values than before, a more detailed examination is required. For the Gender attribute, we aim to check whether missing values correspond to genuinely unavailable data or to incomplete or inconsistent records.

In [57]:
gender_check = (
    df
    .groupby("PateID")["Gender"]
    .agg(
        total_records="size",
        nan_gender=lambda x: x.isna().sum()
    )
    .query("nan_gender > 0")
)

print(gender_check)

        total_records  nan_gender
PateID
65                  2           2
205                 2           2
320                 2           2
321                 3           3
757                 3           3
856                 9           9
875                 5           5
904                 2           2
911                 5           5
992                 5           5

- As shown in the data, patients with missing values in the Gender attribute also exhibit missing values in all other attributes. Consequently, these records do not provide any usable information and can be excluded from further analysis.

In [58]:
bad_ids = gender_check.index
df = df[~df["PateID"].isin(bad_ids)]

- A similar analysis was conducted for the remaining columns.

In [59]:
d10_prog_check = (
    df
    .groupby("PateID")["D10mm_Prog"]
    .agg(
        total_records="size",
        d10_prog=lambda x: x.isna().sum()
    )
    .query("d10_prog > 0")
)

print(d10_prog_check)

d8_prog_check = (
    df
    .groupby("PateID")["D8mm_Prog"]
    .agg(
        total_records="size",
        d8_prog=lambda x: x.isna().sum()
    )
    .query("d8_prog > 0")
)

print(d8_prog_check)

        total_records  d10_prog
PateID
152                 8         1
177                 6         1
821                 7         1
826                 7         1
916                10         1
1017               11         2
1026               12         2
        total_records  d8_prog
PateID
821                 7        1
826                 7        1
916                10        1
1017               11        2
1026               12        2

- As only few observation is missing for certain attributes, mean imputation was applied. Additionally, the affected patients have multiple records available, ensuring that this approach does not substantially distort the data.

In [60]:
cols = ["D10mm_Prog", "D8mm_Prog"]

for col in cols:
    df[col] = (
        df
        .groupby("PateID")[col]
        .transform(lambda x: x.fillna(x.mode().iloc[0]))
    )

### Vytvorenie noveho datasetu
- Podla clankov spravim priemer hodnot, upravim vek na int, onehot encoding ak je potrebne a zaroven necham 0/1 data
- `EXAM`: mozem z toho podom delit lebo to je pocet vysetreni, nemusim robit count ci podobne si uchovatat pocet stretnuti

In [ ]:
binary_cols: list[str] = ["Gender", "Atopy", "Eczema", "Hayfever",
                          "Asthma", "Allergies", "Rubbing", "EXAM",
                          "atopy_dummy", "Rubbing_dummy", "atopy_rubbing"
                          ]



ignore_cols: list[str] = ["Exam_date", "DOB", "referred_CXL", "PateID"]


all_cols: list[str] = df.columns.tolist()

measurement_cols = [
    c for c in all_cols
    if c not in binary_cols + ignore_cols
]



cleaned_df = (
    df
    .sort_values("Exam_date")
    .groupby("PateID")
    .agg(
        {**{c: "max" for c in binary_cols},
         **{c: "mean" for c in measurement_cols},
         "Last_Visit_Day": "max",
         "Exam_date": "mean",
         "DOB": "first",
         "referred_CXL": "last"
         }
    )
    .reset_index()
)

cleaned_df["age"] = cleaned_df["age_at_exam"].round().astype(int)
del_cols: list[str] = ["Exam_date", "DOB", "PateID", "age_at_exam"]

cleaned_df = cleaned_df.drop(columns=del_cols)

## Cistenie dat
- vyhodenie autlayerov
-

##### overenie datovych typov

In [62]:
num_col = [
    col for col in cleaned_df.columns
    if cleaned_df[col].dtype != 'object'
]

print(len(num_col))
print(len(cleaned_df.columns.tolist()))

64
64

- vsetky stlpce su numerickeho typu, teda data su pripravene na pracu

##### odstranenie nezmyslov

In [63]:
cleaned_df = cleaned_df[(cleaned_df["age"] >= 5) & (cleaned_df["age"] <= 90)]

### Nove odstranenia
- po prezreti datasetu som nasiel, ze niektore stlpce po redukcii riadkov obsahuju iba jednu hodnotu

In [65]:
print(cleaned_df["Eczema"].value_counts(), "\n")
print(cleaned_df["Hayfever"].value_counts(), "\n")
print(cleaned_df["Asthma"].value_counts(), "\n")
print(cleaned_df["Allergies"].value_counts(), "\n")
print(cleaned_df["Rubbing"].value_counts(), "\n")
print(cleaned_df["Rubbing_dummy"].value_counts(), "\n")
print(cleaned_df["atopy_rubbing"].value_counts(), "\n")

Eczema
0    567
Name: count, dtype: int64

Hayfever
0    567
Name: count, dtype: int64

Asthma
0    567
Name: count, dtype: int64

Allergies
0    567
Name: count, dtype: int64

Rubbing
0.0    567
Name: count, dtype: int64

Rubbing_dummy
0    567
Name: count, dtype: int64

atopy_rubbing
0    567
Name: count, dtype: int64

In [66]:
cols_to_remove: list[str] = ["Eczema", "Hayfever", "Asthma", "Allergies",
                             "Rubbing", "Rubbing_dummy", "atopy_rubbing"
                             ]

cleaned_df = cleaned_df.drop(columns=cols_to_remove)

#### NaN pre referred_CXL

In [67]:
# 1)
df["referred_CXL"] = df["referred_CXL"].fillna(0)

# 2)
# ondstranit riadky (pacientov) pre ktorych nebolo rozhodnute
#! [PRIDAT KOLACOVI GRAF NA POROVNANIE]

In [68]:
cleaned_df.to_excel("./clean_ds.xlsx", index=False)